
/* width limit with of credit-card brand box*/
.fb-brand-container { min-width: fit-content; }

/* I dont like placeholders being the same text color as actual value */
input::placeholder { color: var(--bs-dark-bg-subtle) !important; }

/* didn't wanted validation to notify the valid ones in green so I wrote custom validation styles */

/* main invalid infobox */
.fv-invalid-feedback { display: none; }
.fv-invalid .fv-invalid-feedback{ display: block; }
.fb-invalid-box {
  background: var(--bs-danger-bg-subtle);
  color: var(--bs-danger-text-emphasis);
  border: 1px solid var(--bs-danger-border-subtle);
}

/* missing fields border */
.fv-invalid .fiv-invalid-check:invalid { border-color: var(--bs-danger); }